#selected {
	-fx-background-color: #444444;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #e07e3e;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #e07e3e;
}

.jfx-tab-pane .tab-header-background
{
	-fx-background-color: #444444;
}

.jfx-tab-pane .text-color{
	-fx-fill: RED;
}

.jfx-tab-pane .tab:selected {
	 -fx-background-color: #555555;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #dddddd;
    -fx-font-size: 25px;
    -fx-font-weight: normal;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #e07e3e;
}

.tree-view {
	-fx-background-color: #555555;
}

.tree-cell {
	-fx-background-color: #555555;
}

.jfx-check-box{
	-fx-text-fill: #dddddd;
	-fx-font-size: 10pt;
    -jfx-checked-color: #e07e3e;
    -jfx-unchecked-color: #dddddd;
}